@import "color";
@import "font";

html,
body,
#app {
  height: 100%;
  width: 100%;
  &#app {
    display: grid;
    grid-template-rows: auto 1fr;
  }
}

input {
  outline: none;
}

// Header
.header {
  width: 100%;

  color: $color-white;

  background: $color-blue;
  .bi {
    width: 1.35rem;
    height: 1.35rem;
  }
  a {
    color: $color-white;
    text-decoration: none;
  }
}

// Main
.router {
  width: 100%;
  height: 100%;
  .sign-in,
  .sign-up {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $color-blue;
    .title {
      color: $color-white;
    }
    .input-field {
      display: flex;
      flex-direction: column;
      label {
        margin-bottom: 0.15rem;
        font-family: "Montserrat";
        font-weight: 500;
      }
      input {
        border: none;
        background-color: $color-gray;
      }
    }
    .checkbox {
      input {
        appearance: none;
        width: 1.275rem;
        height: 1.275rem;
        border: none;
        cursor: pointer;
        background: $color-gray;
        &:checked {
          background-image: url(../images/check.svg);
          background-size: 98%;
          background-position: center;
          fill: $color-blue;
        }
      }
      label {
      cursor: pointer;
        font-weight: 500;
        font-family: 'Montserrat';
        font-size: .9rem;
      }
    }
    .btn-submit {
      border: none;
      font-family: "Montserrat";
      font-weight: 500;
      color: $color-white;
      background: $color-blue;
    }
    .text-ou {
      font-weight: 500;
    }
    .with-google {
      font-family: 'Montserrat';
      font-size: .9rem;
      font-weight: 500;
      svg {
        width: 1.475rem;
        height: 1.475rem;
      }
    }
  }
  .your-boards {
    width: 100%;
    height: 100%;
    .search-field {
      display: grid;
      grid-template-columns: 1fr auto;
      .search {
        border: 1px solid red;
      }
    }
  }
}
