@import "color";
@import "font";

html,
body,
#app {
  height: 100%;
  width: 100%;
  &#app {
    display: grid;
    grid-template-rows: auto 1fr;
  }
}

input {
  outline: none;
}

// Header
.header {
  width: 100%;

  color: $color-white;

  background: $color-blue;
  .bi {
    width: 1.35rem;
    height: 1.35rem;
  }
  a {
    color: $color-white;
    text-decoration: none;
  }
}

$radius: 0.25rem;
// Main
.router {
  width: 100%;
  height: 100%;
  .sign-in,
  .sign-up {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $color-blue;
    .title {
      color: $color-white;
    }
    .input-field {
      display: flex;
      flex-direction: column;
      label {
        margin-bottom: 0.15rem;
        font-family: "Montserrat";
        font-weight: 500;
      }
      input {
        border: none;
        background-color: $color-gray;
      }
    }
    .checkbox {
      input {
        appearance: none;
        width: 1.275rem;
        height: 1.275rem;
        border: none;
        cursor: pointer;
        background: $color-gray;
        &:checked {
          background-image: url(../images/check.svg);
          background-size: 98%;
          background-position: center;
          fill: $color-blue;
        }
      }
      label {
        cursor: pointer;
        font-weight: 500;
        font-family: "Montserrat";
        font-size: 0.9rem;
      }
    }
    .btn-submit {
      border: none;
      font-family: "Montserrat";
      font-weight: 500;
      color: $color-white;
      background: $color-blue;
    }
    .text-ou {
      font-weight: 500;
    }
    .with-google {
      font-family: "Montserrat";
      font-size: 0.9rem;
      font-weight: 500;
      svg {
        width: 1.475rem;
        height: 1.475rem;
      }
    }
  }
  .your-boards {
    $color-gray: #e5e5e5;
    $shadow: -1px 0px 3px 2px $color-gray;
    width: 100%;
    height: 100%;
    .search-field {
      display: grid;
      grid-template-columns: 1fr auto;
      .search {
        border: none;
        border-top-left-radius: $radius;
        border-bottom-left-radius: $radius;
        box-shadow: $shadow;
        font-size: 0.9rem;
      }
      .btn-submit {
        border: none;
        border-top-right-radius: $radius;
        border-bottom-right-radius: $radius;
        width: 2.75rem;
        fill: $color-white;
        background: url(../images/icons8-pesquisar.svg) center no-repeat,
          $color-blue;
        background-size: 42.5%;
      }
    }
    .boards-container {
      .board-box {
        height: 8rem;
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        border: none;
        border-radius: $radius;
        box-shadow: $shadow;
        font-weight: 500;
        text-decoration: none;
        color: currentColor;
        background: none;
        &#new-board {
          color: $color-gray;
          background-image: repeating-linear-gradient(
              180deg,
              $color-gray,
              $color-gray 17px,
              transparent 17px,
              transparent 27px,
              $color-gray 27px
            ),
            repeating-linear-gradient(
              270deg,
              $color-gray,
              $color-gray 17px,
              transparent 17px,
              transparent 27px,
              $color-gray 27px
            ),
            repeating-linear-gradient(
              0deg,
              $color-gray,
              $color-gray 17px,
              transparent 17px,
              transparent 27px,
              $color-gray 27px
            ),
            repeating-linear-gradient(
              90deg,
              $color-gray,
              $color-gray 17px,
              transparent 17px,
              transparent 27px,
              $color-gray 27px
            );
          background-size: 3px 100%, 100% 3px, 3px 100%, 100% 3px;
          background-position: 0 0, 0 0, 100% 0, 0 100%;
          background-repeat: no-repeat;
          box-shadow: none;
        }
      }
    }
  }
  .view-board {
    width: 100%;
    height: 100%;
    nav li,
    nav a {
      color: currentColor;
      text-decoration: none;
      font-weight: 400;
      font-family: "Montserrat";
    }
    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.25rem;
      padding: 0 0.25rem 0.1rem;
      border-bottom: 3px solid transparent;
      svg {
        height: 1.15rem;
        width: 1.15rem;
      }
      &.selected {
        border-color: $color-pink;
        svg path,
        svg circle {
          stroke: $color-blue;
        }
        a {
          color: $color-blue;
        }
      }
    }
  }
  .board-card {
    display: flex;
    flex-direction: column;
    .title {
      border-top-left-radius: $radius;
      border-top-right-radius: $radius;
      color: $color-white;
      font-size: 1.15rem;
      font-weight: 500;
      text-align: center;
      line-height: 1.75;
      background-color: $color-blue;
    }
    .tasks {
      height: 60vh !important;
      display: grid;
      grid-template-rows: auto 1fr;
      gap: 0.5rem;
      box-shadow: 0px 0px 10px #d5d5d5;
      .add-new-task {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 0.5rem;
        .submit {
          width: 1rem;
          height: 1rem;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          border: none;
          color: $color-white;
          font-size: 0.775rem;
          background: $color-blue;
        }
        .insert-task {
          font-size: 0.85rem;
          &::placeholder {
            color: #d5d5d5;
          }
        }
      }
      .tasks-list {
        .task-item {
          height: max-content;
          width: 100%;
          display: flex;
          align-items: stretch;
          border-radius: $radius;
          overflow: hidden;
          flex: 1 1 1;
          .task-name {
            width: 100%;
            max-height: max-content;
            border: 1px solid $color-blue;
            border-right: none;
            border-top-left-radius: $radius;
            border-bottom-left-radius: $radius;
            font-size: .85rem;
            transition: all .3s;
            &:hover {
              color: $color-white;
              background-color: $color-blue;
            }
          }
          .delete-task {
            border: none;
            border-top-right-radius: $radius;
            border-bottom-right-radius: $radius;
            color: $color-white;
            font-family: 'Montserrat';
            font-size: .9rem;
            background: $color-pink;
          }
        }
      }
    }
  }
}
