@import "color";
@import "font";

html, body, #app {
  height: 100%;
  width: 100%;
  &#app {
    display: grid;
    grid-template-rows: auto 1fr;
  }
}

// Header
.header {
  width: 100%;

  color: $color-white;

  background: $color-blue;
  .bi {
    width: 1.35rem;
    height: 1.35rem;
  }
  a {
    color: $color-white;
    text-decoration: none;
  }
}

// Main
.router {
  width: 100%;
  height: 100%;
  .sign-in, .sign-up {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    background-color: $color-blue;
    .title {
      color: $color-white;
    }
  }
}